@model BulkyBook.Models.ViewModels.ShoppingCartVM
<form method="post" class="p-2">
	<br />
	<div class="container p-4" >
		<div class="card">
			<div class="card-header text-dark ml-0" style="background-color:#0d1a1a">
				<div class="row">
					<div class="col-6 pt-2" style="font-size:30px">
						<i class="bi bi-cart2"></i> &nbsp;
						<b>購物車</b>
					</div>
					<div class="col-6 text-end">
						<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">繼續購物</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				@foreach(var item in Model.ListCart){
				<div class="row">
					<div class=" d-lg-block col-4 col-lg-2 text-center py-2">
						<img src="~/@item.Product.ImageUrl" class="rounded" width="100%" />
					</div>
					<div class="col-8 col-lg-6 pt-md-3">
						<h5><strong>@Html.Raw(item.Product.Title)</strong></h5>
						<p><small>@Html.Raw(item.Product.Description)</small></p>
					</div>
					<div class="col-12  col-lg-4 text-center row">
						<div class="col-4 text-md-right pt-4">
							<h6><strong>@item.Price.ToString("c")
								<span class="text-danger">&nbsp;x&nbsp;</span>@item.Count </strong></h6>
						</div>
						<div class="col-6 col-sm-4 col-lg-6 pt-2">
							<div class="w-75 btn-group" role="group">
								<a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-primary">
									<i class="bi bi-plus-square"></i>
								</a> &nbsp;
								<a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-warning">
									<i class="bi bi-dash-square"></i>
								</a>
							</div>

						</div>
						<div class="col-2 col-sm-4 col-lg-2 text-right pt-2">
							<a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger">
								<i class="bi bi-trash-fill"></i>
							</a>
						</div>
					</div>
				</div>
				<hr />
				}
				<div class="row">
					<div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between bg-light">
								<span class="text-info"> Total (NTD)</span>
								<strong class="text-info">@Model.OrderHeader.OrderTotal.ToString("c")</strong>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="card-footer">
				<div class="card-footer row">
					<div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
						<a asp-action="Summary" class="btn btn-success form-control">結帳</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>